.main-name{
    text-align:center;
    margin:0;
    font-size: 80px;
    color:whitesmoke;
    text-shadow: 
        2px 2px 0px black,
        -2px 2px 0px black,
        2px -2px 0px black,
        -2px -2px 0px black;
}

.main-header {
    background-image: url("images/Kants_header.jpg");
    background-size: cover;
    padding-bottom: 150px ;
    background-position: 50% 20%;}

h2 {text-align:center;
    margin: 0px;;
    font-size: 40px;
    color:darkgray;
}

.intro {
    display: block;
    margin: 10px;
    overflow: auto;
    font-size: 20px
}
.list {
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
}
.image {
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}